/**************************/
/* Below 1400px */
/* 1400px / 16px = 87.5em */
/**************************/
@media (max-width: 87em) {

    .home,
    .about {
        max-width: 120rem;
    }
}

/**************************/
/* Below 1300px */
/* 1300px / 16px = 81.25em */
/**************************/
@media (max-width: 81em) {
    .section-about {
        height: 80rem;
    }

    .experience-timeline {
        max-width: 50rem;
    }

    .experience-checkpoint:nth-child(odd) {
        transform: translateX(24.8rem);
    }

    .experience-checkpoint:nth-child(even) {
        transform: translateX(-24.9rem);
    }

    .section-projects {
        height: 85rem;
    }

    .section-contact {
        height: 80rem;
    }
}

/**************************/
/* Below 1250px */
/* 1250px / 16px = 78.125em */
/**************************/
@media (max-width: 78em) {
    html {
        /* 9px / 16px = 56.25% */
        font-size: 56.25%;
    }

    .home,
    .about {
        max-width: 110rem;
    }

    .projects {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 2.4rem;
        width: 80%;
    }
}

/**************************/
/* Below 1130px */
/* 1130px / 16px = 70.62em */
/**************************/
@media (max-width: 70.5em) {
    .home {
        height: 90%;
    }

    .home,
    .about {
        max-width: 100rem;
    }

    /* EXPERIENCE TIMELINE */
    .experience-checkpoint:nth-child(even) {
        border-right: none;
        transform: translateX(0);
        padding-left: 0;
    }

    .experience-checkpoint:nth-child(odd) {
        border-left: none;
        transform: translateX(0);
        padding-right: 0;
    }

    .section-contact {
        padding-top: 9.6rem;
    }

    .contact-container {
        width: 85rem;
    }
}

/**************************/
/* Below 950px */
/* 950px / 16px = 59.375em */
/**************************/
@media (max-width: 60em) {

    /* Mobile Nav */
    .btn-mobile-nav {
        display: block;
    }

    .main-nav {
        background-color: rgba(248, 240, 252, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        /* transform: translateX(100%); */

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;

        /* 1) Hide it visually */
        opacity: 1;

        /* 2) Make it unaccessible to mouse and keyboard */
        pointer-events: none;

        /* 3) Hide it from screen readers */
        visibility: hidden;
    }

    .main-nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name='close-outline'] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name='menu-outline'] {
        display: none;
    }

    .container-headings {
        padding-bottom: 1.4rem;
    }

    .home,
    .about {
        max-width: 90rem;
    }

    .section-home {
        height: 80%;
        padding-bottom: 4.4rem;
    }

    .heading-primary {
        font-size: 4.4rem;
    }

    .heading-secondary {
        font-size: 3.2rem;
    }

    .home-description {
        font-size: 1.8rem;
    }

    .btn:link,
    .btn:visited {
        padding: 1.2rem 2.4rem;
    }

    .section-about {
        height: 80%;
        padding-bottom: 7.2rem;
    }

    .about-skills-list,
    .about-education-list,
    .about-description {
        font-size: 1.6rem;
    }

    .about-nav-list {
        margin-bottom: 2.6rem;
    }

    .about-nav-link:link {
        font-size: 1.8rem;
    }

    .open .about-skills-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid {
        column-gap: 6rem;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 1.6rem;
    }

    .contact-details h3 {
        font-size: 2.2rem;
    }

    .contact-details {
        font-size: 1.8rem
    }

    .contact-icons {
        font-size: 3.6rem;
    }
}

/**************************/
/* Below 900px */
/* 900px / 16px = 56.25em */
/**************************/
@media (max-width: 56.5em) {
    .grid--3-cols,
    .grid--2-cols {
        grid-template-columns: 1fr;
    }

    .home {
        grid-template-columns: 1fr;
        padding-top: 2.4rem;
        gap: 1.4rem;
    }

    .home-text,
    .home-img-box {
        text-align: center;
    }

    .home-img {
        width: 60%;
    }

    .section-about {
        height: 105rem;
    }

    .about {
        column-gap: 0rem;
        row-gap: 1.4rem;
        text-align: center;
    }

    .about-header {
        display: none;
    }

    .about-text-box {
        grid-row: 1 / 3;
    }

    .about-img-box {
        grid-column: 2 / -1;
        width: 40%;

        justify-self: center;
    }

    .section-projects {
        height: 75%;
    }

    .projects {
        width: 75%;
    }

    .section-contact {
        height: 100rem;
    }

    .contact-form {
        grid-row: 1 / 3;
        padding-bottom: 0;
    }

    .contact-details {
        gap: 0;
    }

    .contact-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding-top: 0;
    }

    .contact-details {
        padding-top: 0;
        align-self: center;
        justify-content: center;
        text-align: center;
        gap: 1.8rem;
    }

    .contact-details h3 {
        font-size: 2.4rem;
    }

    .contact-details p {
        font-size: 1.8rem;
    }

    .contact-icons {
        align-self: center;
        padding-bottom: 4.8rem;
    }
}

/**************************/
/* Below 650px */
/* 650px / 16px = 40.625em */
/**************************/
@media (max-width: 40.7em) {
    .section-about {
        height: 100rem;
    }

    .about {
        max-width: 80rem;
    }

    .btn,
    .btn:link,
    .btn:visited {
        font-size: 1.8rem;
    }
}

/**************************/
/* Below 550px */
/* 550px / 16px = 34.375em */
/**************************/
@media (max-width: 35em) {
    .experience-timeline {
        max-width: 70%;
    }

    .contact-container {
        width: 70%;
    }
}