/*
--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS:
Default: 400

- LINE HEIGHTS:
Default: 1
1.05
1.6

- Letter Spacing

--- 02 COLORS
- Primary:
- Tints:
- Shades:
- Accents:
- Greys:
#333
#555
#777
#5f3dc4
#432b89
#f3f0ff

--- 05 SHADOWS

--- 06 BORDER RADIUS
Default: 9px;

--- 07 WHITESPACE
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/********************************/
/* HEADER */
/********************************/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* because we want header to be sticky */
  height: 12vh;
  padding: 0 4.8rem;
  background: linear-gradient(to right, #a1c4fd, #e0d7ff, #f3f0ff);

  position: relative;
}

.logo {
  height: 28rem;
}

/* MOBILE NAV */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/********************************/
/* NAVIGATION */
/********************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #5f3dc4;
  text-decoration: underline;
  text-underline-offset: 1.2rem;
}

/********************************/
/* HOME SECTION */
/********************************/
.section-home {
  padding: 0 0 9.6rem 0;
  height: 88vh;
  background: linear-gradient(to right, #a1c4fd, #e0d7ff, #f3f0ff);
}

.home {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.home-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.home-img {
  width: 50%;
}

.home-img-box {
  display: flex;
  justify-content: center;
}

/********************************/
/* ABOUT SECTION */
/********************************/
.section-about {
  height: 100vh;
  padding-top: 6.2rem;
}

.about-container {
  padding-bottom: 0;
}

.about {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.about-img {
  width: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 5px solid;
  border-image: linear-gradient(to right, #9b59b6, #3498db);
  border-image-slice: 1;
}

.about-text-box {
  grid-column: 2 / -1;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-description {
  font-size: 1.8rem;
  line-height: 1.4;
}

/* About section mini nav bar */
.about-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  margin-bottom: 3.2rem;
}

.about-nav-link:link,
.about-nav-link:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}

.about-nav-link:hover,
.about-nav-link:active,
.about-nav-link.active {
  text-decoration: underline;
  text-underline-offset: 1rem;
  color: #5f3dc4;
}

.about-skills-list,
.about-education-list {
  list-style: none;
  font-size: 1.8rem;
  display: none;
}

.open .about-skills-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  height: 100%;
}

.open .about-education-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.skills-img {
  height: 2rem;
  width: 2rem;
}

.skills-img.grpc {
  filter: brightness(0%);
  width: 4rem;
}

.about-skills-list--item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  color: #432b89;

  background-color: #f3f0ff;
  border-radius: 1.6rem;
  padding: 0.5rem;
}

.academic-icon {
  width: 1.8rem;
}

/********************************/
/* EXPERIENCE SECTION */
/********************************/
.section-experience {
  padding-top: 6.2rem;
  padding-bottom: 7.4rem;
  background: linear-gradient(to bottom, #e5dbff, #e0d7ff, #f3f0ff);
}

.experience-timeline {
  margin: 0 auto;
  max-width: 60rem;
}

.experience-checkpoint {
  position: relative;
  /* max-width: 70rem; */
  /* background-color: orange; */

  /* padding-bottom: 14rem; */
}

.experience-company--name {
  font-size: 2.4rem;
  font-weight: 500;
  padding-bottom: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience-company--image {
  height: 2rem;
}

.experience-role {
  font-size: 1.6rem;
  padding-bottom: 0.6rem;
  font-weight: 500;
  color: #432b89;
}

.experience-type {
  font-size: 1.6rem;
  padding-bottom: 0.6rem;
}

.experience-duration {
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-bottom: 1.6rem;
}

.experience-list-check {
  color: #432b89;
  font-size: 1.6rem;
}

.experience-list {
  list-style: none;
  font-size: 1.6rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.experience-list-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  line-height: 1.6;
}

.experience-checkpoint div {
  border-radius: 2.4rem;
  padding: 2.4rem;
  background-color: #fff;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
  width: 100%;
}

/* Vertical connector */
.experience-checkpoint:nth-child(odd) {
  border-left: 0.3rem solid #5f3dc4;
  padding-left: 2.4rem;
  transform: translateX(29.9rem);
}

.experience-checkpoint:nth-child(even) {
  border-right: 0.3rem solid #5f3dc4;
  padding-right: 2.4rem;
  transform: translateX(-29.8rem);
}

/* Horizontal connector */
.experience-checkpoint:nth-child(odd)::before,
.experience-checkpoint:nth-child(even)::before {
  content: '';
  background: #5f3dc4;
  width: 2.4rem;
  height: 0.3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.experience-checkpoint:nth-child(odd)::before {
  left: 0;
}

.experience-checkpoint:nth-child(even)::before {
  right: 0;
}

/* Circle in checkpoint */
.experience-checkpoint:nth-child(odd) div::before,
.experience-checkpoint:nth-child(even) div::before {
  content: '';
  background-color: #f3f0ff;
  width: 1.8rem;
  height: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid #5f3dc4;
  position: absolute;
}

.experience-checkpoint:nth-child(odd) div::before {
  left: -1.15rem;
}

.experience-checkpoint:nth-child(even) div::before {
  right: -1.15rem;
}

/********************************/
/* PROJECTS SECTION */
/********************************/
.section-projects {
  height: 100vh;
  padding-top: 6.2rem;
}

.project {
  background-color: #f3f0ff;
  border-radius: 0.9rem;
  padding: 3.2rem;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  cursor: default;
}

.project:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.15);

  background-color: #e5dbff;
}

.project-icon {
  height: 3.2rem;
  width: 3.2rem;
}

.project-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #432b89;
}

.project-description {
  font-size: 1.6rem;
  line-height: 1.4;
}

.project-link:link,
.project-link:visited {
  text-decoration: none;
  color: #432b89;
  font-size: 1.8rem;

  margin-top: auto;
}

.project-link:hover,
.project-link:active {
  text-decoration: underline;
  text-underline-offset: 1rem;
  cursor: pointer;
}

/********************************/
/* CONTACTS SECTION */
/********************************/
.section-contact {
  height: 100vh;
  padding-top: 6.2rem;
}

.contact-container {
  background-color: #D0A2F7;
  border-radius: 1.6rem;
  box-shadow: 0 1.4rem 2.4rem rgba(0, 0, 0, 0.2);
  width: 100rem;
}

.contact-form {
  grid-row: 1 / 3;
  padding: 4.8rem 3.2rem 4.8rem 3.2rem;

  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.contact-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;

  font-family: inherit;
  color: inherit;

  border: none;
  background-color: #F1EAFF;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #adabab;
}

.contact-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.3);
}

.contact-details {
  padding-top: 4.8rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.contact-details div {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.contact-details h3 {
  font-size: 2.4rem;
}

.contact-details p {
  font-size: 2rem;
}

.contact-icons {
  grid-row: 2 / 3;
  font-size: 4.4rem;
  color: #5f3dc4;

  display: flex;
  gap: 3rem;
}

.contact-icons a:hover {
  color: #9775fa;
  transition: all 0.3s ease-out;
}