* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, Arial, Helvetica;
}

/* NAVBAR */
.navbar_container {
    background-color: rgba(229, 231, 235, 0.572);
    /* Change this to the desired background color */
    color: #444;
    /* Change this to the desired text color */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

/* Responsive styles for the navbar */
@media screen and (max-width: 768px) {
    .navbar_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .navbar_logo_link {
        margin: 0;
        /* Remove margin for mobile */
        margin-bottom: 10px;
        /* Add some spacing below the logo for mobile */
    }

    .navbar_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .navbar_list li {
        padding: 10px;
    }

    .navbar_list li:first-child {
        margin-top: 10px;
        /* Add some spacing above the first list item for mobile */
    }

    /* Show the hamburger menu icon for mobile */
    .navbar_list {
        display: none;
        /* Hide the list items by default on mobile */
    }

    .navbar_list.show {
        display: flex;
        /* Show the list items when the menu is active */
    }
}

.navbar_logo {
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    cursor: pointer;
}

.navbar_logo_link {
    padding: 10px;
    text-decoration: none;
    margin-left: 10%;
}

.navbar_logo_link:visited {
    color: #000;
}

.navbar_logo_link:hover {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    margin-left: 10%;
    transition: color 0.3s ease;
}

.navbar_list {
    margin-right: 10%;
    list-style: none;
    display: flex;
}

.navbar_list a {
    text-decoration: none;
    color: #444;
}

.navbar_list li {
    padding: 17px;
    cursor: pointer;
    margin-left: 30px;
}

.navbar_list li:first-child {
    margin-left: 0;
}

.navbar_list li:hover {
    color: #fff;
    background-color: #000;
    transition: color 0.3s ease;
}

.photo_container {
    display: flex;
    justify-content: center;
}

.photo_container img {
    margin-top: 100px;
}

/* SECTION Container and Title */
.main_container {
    height: 100vh;
    /* border: 10px solid green; */
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container_title {
    font-size: 40px;
    font-family: cursive;
}

/* PHOTO */
/* Set the background photo to display only on the first section */
.background_photo {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Make it fit the browser screen perfectly */
    overflow: hidden;
    /* Hide any overflowing content */
    backdrop-filter: blur(60px);
}

/* Center the circular photo frame */
.photo_frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* Place the photo frame above the background */
}

/* Make the photo circular */
.circular_frame {
    border-radius: 50%;
    /* Add any additional styles you want for the circular frame */
}

/* Resize the background photo to fit without being zoomed in */
.background_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Resize the circular photo frame image */
.photo_frame .circular_frame {
    max-width: 300px;
    /* Adjust this value to your desired size */
    max-height: 300px;
    /* Adjust this value to your desired size */
    border: 5px solid #ffde79;
}

/* Style the name below the photo */
.photo_name {
    font-size: 24px;
    font-family: "Arial", sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 2;
    margin-top: 15px;
}

/* ABOUT SECTION */
.about_content {
    margin-top: 20px;
    line-height: 1.5;
    text-align: justify;
}

/* SKILLS */
.skills {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.skills_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-right: 15px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.skills_list li {
    background-color: #ffde79;
    padding: 12px 15px;
    border-radius: 10px;
    flex-basis: calc(20% - 20px);
    margin: 5px 10px;
    box-sizing: border-box;
}

/* Pseudo-element for filling the remaining space in the last row */
.skills_list::after {
    content: "";
    flex: auto;
}

/* To handle the last row items specifically */
.skills_list li:last-child:nth-last-child(-n+4),
.skills_list li:last-child:nth-last-child(-n+3),
.skills_list li:last-child:nth-last-child(-n+2),
.skills_list li:last-child:nth-last-child(-n+1) {
    margin-right: auto;
}

/* Adjust the number of items per row based on the container width */
@media (max-width: 1200px) {
    .skills_list li {
        flex-basis: calc(25% - 20px);
    }
}

@media (max-width: 900px) {
    .skills_list li {
        flex-basis: calc(33.3333% - 20px);
    }
}

@media (max-width: 600px) {
    .skills_list li {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 400px) {
    .skills_list li {
        flex-basis: calc(100% - 20px);
    }
}

.skills_icon {
    width: 17px;
    height: 17px;
    max-width: 100%;
    margin-right: 15px;
    text-align: left;
}

/* EXPERIENCE */
.experience_sub_container {
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px 20px;
}

.experience_sub_container:nth-child(odd) {
    background-color: #f5f5dc;
}

.experience_sub_container:nth-child(even) {
    background-color: #ffde79;
}

.experience_company {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 10px 10px;
}

.experience_role {
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 10px;
    margin-left: 10px;
    /* font-weight: bold; */
    /* font-style: italic; */
    width: 40%;
    background-color: mediumseagreen;
    color: white;
}

.experience_list {
    text-decoration: none;
    line-height: 1.5;
    /* padding: 10px; */
}

.experience_list li {
    padding: 0 10px;
    margin-left: 20px;
}

/* PROJECTS */
.cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: beige;
}

.card_header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
}

.card_tech_stack {
    font-style: italic;
    margin-bottom: 10px;
}

.card_description {
    margin-bottom: 10px;
    flex-grow: 1;
}

.card_modal_button {
    border-radius: 10px;
    padding: 10px;
    background-color: #ffde79;
    border: none;
    cursor: pointer;
    margin: auto;
}

/* CONTACT */
.contact_description {
    margin-top: 40px;
    text-align: center;
}

.contact_email {
    color: lightskyblue;
}

.contact_list_container {
    text-align: center;
}

.contact_details {
    margin-top: 30px;
    display: inline-block;
    text-align: left;
}

.contact_details li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

.contact_details li a {
    text-decoration: none;
    color: #444;
    background-color: #ffde79;
    border-radius: 20px;
    padding: 10px;
}

.contact_details li a:hover {
    background-color: #000;
    color: #fff;
    transition: color 0.3s ease;
}

.contact_details li:first-child {
    margin-left: 0;
}